{% extends "layout.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Django Project</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    {% block content %}

<h1 class = "text-7xl bg-red-500 ">Chai aur code | Home Page</h1>
<p class= " text-center bg-orange-500 text-2xl my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt rerum magni atque, repellendus ab consequatur, facere quod veniam harum praesentium dolor! Quidem beatae delectus neque similique possimus aliquam, soluta consequuntur.</p>
    <header>
        <h1>Personal Information </h1>
        <input  type="text" placeholder="First Name" id="fname">
        <input type="text" placeholder="Last Name" id="lname">
        <input type="text" placeholder="Username" id="uname">
        <input type="text" placeholder="Email" id="email" required>
        <input type="text" placeholder="password" id="password" pattern=".{8,}" title="8 characters minimum" required >
        <input type="text" placeholder="Confirm Password" id="cpassword" pattern=".{8,}" title="8 characters minimum" required>
        <input type="text" placeholder="address" id="address">
        <input type="search" placeholder="city"  id="city" for_id="city">
        <input type="text" placeholder="state" id="state">
        <input type= 'number'placeholder = 'pincode' id = 'pincode'>
        
        
    </header>
    {% endblock %}
</body>
</html>