input,button,label{
  margin-top: 10px;
}

input{

  padding: 5px 10px;
  margin: 5px 8px;
  border: 2px solid #ccc;
  border-radius: 20px;
}

button{
  padding: 5px 15px;
  margin: 5px 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-weight: bold;
  cursor: pointer;
  
}
button:hover{
  background-color: #1e9ec9;
}
button:active{
  background-color: #aaa;
}
button:focus{
  outline: none;
}

label{
  font-weight: bold;
  color: #333;
}