input,button,label{
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 20px; 

}
button{
  padding: 8px;
  background-color: #408ab1;
  cursor: pointer;
  font-weight: bold;
}
input{
  padding: 8px 15px;
}
label{
    font-weight: bold;
}

